#nav{
    background-color:#0062cc;
}

#img{
    width:75%;
    height:100
}

#jum{
    background-color: #0062cc;
    color: white;
    /*background-image: linear-gradient(90deg, rgba(48, 17, 105, 0.73) 21%, rgba(48, 17, 105, 0.73)94%), url(../images/MAIMUNA.JPG);*/
    /*height:100px; width: 100PX;*/
    /*background-size:contain;*/
    /*position: relative;*/ 
    /* background-image: url(../images/MAIMUNA.JPG);  */
}

#h5{
    color: #0062cc;
    font-size: 30px;
}
#hello{
    background-color: #fff;
    color: #0062cc;
}

#btn{
    color: #fff;
    background-color: #0062cc;
}

#icon{
    color: #0062cc;
    height: 50px;
    width: 50px;
    padding-bottom: 15px;
    text-align: center;
    
}

#dekha{
    font-size: 30px;
}
#btn1{
    color: #fff;
    background-color: #0062cc;
    height: 70px;
    width: 160px;
}
#car{
    background-color: #f5f5f5;
    box-shadow: 5px 22px 80px -84px rgb(39, 16, 122);
    padding: 30px;
}
